
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    /*name abc... is preserved.*/
    
    #div1 {
        width: 200px;
        position: absolute;
        left: 0px;
        background-color: gainsboro;
    }

    button.trigger{
        display: none;
    }

    #button1 {
        position: absolute;
        top: 5px;
        left: 10px;
        width: 80px;
    }

    #button2 {
        position: absolute;
        top: 55px;
        left: 10px;
        width: 80px;
    }

    #button3 {
        position: absolute;
        top: 105px;
        left: 10px;
        width: 100px;
    }

    #button_e {
        position: absolute;
        top: 2px;
        right: 2px;
        width: 25px;
        height: 20px;
        padding: 1px;
    }

    #select1{
        position: absolute;
        top: 56px;
        left: 130px;
    }

    #select2{
        position: absolute;
        top: 106px;
        left: 120px;
    }

    #div2 {
        position: absolute;
        left: 200px;
        /*background-color: blue;*/
    }

    .div3 {
        /*display: flex;*/
        flex-wrap: wrap;
        /*padding: 0 4px;*/
        width: 0px;
        height: 600px;
        position: absolute;
        left: 600px;
        overflow: auto;
    }
    .div3:after {
        /*content: "";*/
        display: table;
        clear: both;
    }

    .div4 {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .div4.hidden {
        display: none;
    }

    .toolTip {
        position: absolute;
        width: auto;
        height: auto;
        padding: 5px;
        background-color: rgba(240, 248, 255, 0.8);
        border: 1px solid #ccc;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        font-style: 12px;
        -webkit-box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4);
        /*pointer-events: none;*/
    }
    .toolTip.hidden {
        display: none;
    }
    .toolTip p {
        margin: 0;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 20px;
    }
    .toolTip button{
        position: absolute;
        left: 2px;
        width: 100px;
    }

    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 10px;
        background: #ddd;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background: #4CAF50;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: #4CAF50;
        cursor: pointer;
    }

</style>
<body>

<div id="div1" style="height:2360px">
    <button id="button1">Tooltip</button>
    <button id="button2">Click</button>
    <button id="button3">SelectorView</button>
    <button id="button_e"><|></button>
    <select id="select1">
        <option>1</option>
        <option>2</option>
    </select>
    <select id="select2">
        <option>New</option>
        <option>Union</option>
        <option>Intersect</option>
    </select>
</div>
<div id="div2">
    <svg width="3890" , height="2360"></svg>
    <div class="toolTip" id="toolTip1"></div>
</div>

<div class="div3" id="div3"></div>
<div class="div3" id="div4"></div>
{#<iframe src="" width="0" height="0" frameborder="0" name="frame" style="display:none" ></iframe>#}
<div class="toolTip" id="toolTip"></div>
<div class="toolTip" id="toolTip2"></div>
</body>
<script src="/static/d3.js" charset="utf-8"></script>
<script>
    const d1 = d3.select('#div1'), d2 = d3.select('#div2'), svg = d2.select('svg');
    const toolTip = d3.select('#toolTip'), toolTip1 = d3.select('#toolTip1'), toolTip2 = d3.select('#toolTip2');
    const be = document.getElementById('button_e');
    let x_click, y_click;
    be.addEventListener('click', () => {
        if (d1.style('left') == '0px') {
            d1.transition().style('left', '-200px');
            d2.transition().style('left', '0px');
        } else {
            d1.transition().style('left', '0px');
            d2.transition().style('left', '200px');
        }
    });

    const ifTip = document.getElementById('button1');
    const mode = document.getElementById('button2');
    const filter = document.getElementById('select1');
    const filter2 = document.getElementById('select2'), filter2_ = d3.select(filter2);
    const ifSV = document.getElementById('button3');
    /*for (let bu of [be, ifTip, mode, filter, filter2, ifSV]){
        bu.style.display = 'none';
    }*/

    let comp_t = false;
    ifSV.addEventListener('click', () => {
        if (ifSV.style.backgroundColor == 'aqua') {
            ifSV.style.backgroundColor = 'white';
            comp_t = false;
        } else {
            ifSV.style.backgroundColor = 'aqua';
            comp_t = true;
        }
    });

    let tipSwitch = [e => {
        const idx = d3.select(e.srcElement).datum().idx;
        let y_pos = e.clientY + document.documentElement.scrollTop;
        let x_pos = e.clientX + document.documentElement.scrollLeft;
        toolTip.attr('style', 'left:' + x_pos + 'px' + ';top:' + y_pos + 'px').selectAll('*').remove();
        toolTip.append('img')
            .attr('src', `static/img/${idx}.png`)
            .attr('width', 100).attr('height', 100);
        toolTip.classed('hidden', false);
    }, () => {
        toolTip.classed('hidden', true);
    }];
    ifTip.addEventListener('click', () => {
        if(mode.textContent == 'Brush') return;
        if (ifTip.style.backgroundColor == 'aqua') {
            ifTip.style.backgroundColor = 'white'
            d3.selectAll('circle')
                .on('mouseover', null)
                .on('mouseout', null);
        } else {
            ifTip.style.backgroundColor = 'aqua'
            d3.selectAll('circle')
                .on('mouseover', tipSwitch[0])
                .on('mouseout', tipSwitch[1]);
        }
    });mode.addEventListener("click", () => {
        if(mode.textContent == 'Brush'){
            mode.textContent = 'Click';
            if(typeof(brushG) != 'undefined') d3.brush().clear(brushG);
            g0.call(brush0.extent([[0, 0], [0, 0]]));
g1.call(brush1.extent([[0, 0], [0, 0]]));
g2.call(brush2.extent([[0, 0], [0, 0]]));
g3.call(brush3.extent([[0, 0], [0, 0]]));
g4.call(brush4.extent([[0, 0], [0, 0]]));
        }
        else{
            if(ifTip.style.backgroundColor == 'aqua') ifTip.click();
            mode.textContent = 'Brush';
            g0.selectAll('rect[class*=overlay]').remove();
g0.selectAll('rect[class*=handle]').remove();
g0.call(brush0.extent(extent0));
g1.selectAll('rect[class*=overlay]').remove();
g1.selectAll('rect[class*=handle]').remove();
g1.call(brush1.extent(extent1));
g2.selectAll('rect[class*=overlay]').remove();
g2.selectAll('rect[class*=handle]').remove();
g2.call(brush2.extent(extent2));
g3.selectAll('rect[class*=overlay]').remove();
g3.selectAll('rect[class*=handle]').remove();
g3.call(brush3.extent(extent3));
g4.selectAll('rect[class*=overlay]').remove();
g4.selectAll('rect[class*=handle]').remove();
g4.call(brush4.extent(extent4));
        }
    });

    filter.addEventListener("change", () => {
        const idx = filter.selectedIndex;
        d3.json(`/set_click_mode/${idx}`);
    });
    filter2.addEventListener("change", () => {
        const idx = filter2.selectedIndex;
        d3.json(`/set_set_mode/${idx}`);
    });

    let det; //debug temp variable
    let triggers = new Array();
    let highlighters = new Array();
    let brushG;
    let brush_ids = new Array();
    let empty_r;
    let prev_r_;

    let gva = svg.append('g').attr('transform', 'translate(200, 0)'), union_pos = 10;
    gva.style('display', 'none');
    gva.append('rect')
        .attr('x', 0).attr('y', 0)
        .attr('width', 1000).attr('height', 60)
        .attr("fill", '#fef9ff')
        .attr('stroke', 'black')
        .attr('opacity', 0.5);
    gva.append('rect')
        .attr('x', 10).attr('y', 10)
        .attr('width', 40).attr('height', 40)
        .attr('fill', '#fef9ff').attr('stroke', 'black')
        .style('stroke-dasharray', ('3, 3'))
        .attr('opacity', 0.5);

const rx0 = 100, ry0 = 100, rw0 = 1250, rh0 = 300;
const g0 = svg.append('g').attr('transform', `translate(${rx0}, ${ry0})`).attr('idx', 0);
const trigger0 = d1.append('button').classed('trigger', true);
const highlighter0 = d1.append('button').classed('trigger', true);
triggers.push(trigger0);
highlighters.push(highlighter0);
let extent0 = [[0, 0], [rw0, rh0]];
const brush0 = d3.brush().on("start", () => {
        if(brushG != g0){
            if(typeof(brushG) != "undefined") d3.brush().clear(brushG);
            brushG = g0;
        }
    })
    .on("end", e => {
        if(e.selection){
            const [[x0, y0], [x1, y1]] = e.selection;
            //...
        }
        else{
            r = empty_r;
        }
    });
    
// scale can be defined in response.
const sx0 = d3.scaleBand().paddingInner(1).range([0, rw0]);
const sy0 = d3.scaleLinear().range([rh0, 0]);
let threshold0 = 0;
brush0.on("end", e => {
        if(e.selection){
            const [[x0, y0], [x1, y1]] = e.selection;
            brush_ids.splice(0, brush_ids.length);
            g0.selectAll('path.a')
                .each(d => {
                    const temp = d.path;
                    let flag = false, flag1 = true;
                    
        for(let i=0;i<temp.length;i++){
            if(sx0(temp[i][0])>=x0 && sx0(temp[i][0])<=x1){
                flag = true;
                if(temp[i][1]<threshold0){
                    flag1 = false;
                    break;
                }
            }
        }
                    
                    pos = brush_ids.indexOf(d.idx);
                    if(flag && flag1){
                        if(pos == -1) brush_ids.push(d.idx);
                    }
                    else{
                        if(pos != -1) brush_ids.splice(pos, 1);
                    }
                });
            d3.json(`/brush/0?value=${brush_ids}&y0=${sy0.invert(y0)}&y1=${sy0.invert(y1)}&threshold=${threshold0}`)
                .then(r => {
                    for(let i of r[0]) triggers[i].dispatch('click');
                    for(let i of r[1]) highlighters[i].dispatch('click');
                });
        }
        else{
            brush_ids = [];
            d3.json(`/brush/0?value=${brush_ids}&y0=${sy0.invert(y0)}&y1=${sy0.invert(y1)}&threshold=${threshold0}`)
                .then(r => {
                    for(let i of r[0]) triggers[i].dispatch('click');
                    for(let i of r[1]) highlighters[i].dispatch('click');
                });
        }
    });
trigger0.on('click', () => {
    d3.json('/trigger/0').then(r => {
        sx0.domain(r['titles']);
        sy0.domain(r['y']);
        const ax0 = d3.axisBottom(sx0);
const ay0 = d3.axisLeft(sy0);
if(typeof(r['titles'][0]) == 'number'){
    const tv0 = r['titles'].filter((d, i) => i % Math.ceil(r['titles'].length/10) == 0);
    if((r['titles'].length-1) % Math.ceil(r['titles'].length/20) != 0) tv0.push(r['titles'][r['titles'].length-1]);
    ax0.tickValues(tv0);
}
else{
    ax0.tickFormat(d => d.slice(d.indexOf('-')+1));
}

g0.append('g').call(ax0).attr('transform', 'translate(0, 300)').attr('fill', 'none');
g0.append('g').call(ay0).attr('fill', 'none');

        g0.selectAll('path.a').remove();
        const line0 = d3.line();
        g0.selectAll('path.a')
            .data(r['path']).enter().append('path')
            .classed('a', true)
            .attr('d', d => line0(d.path.map(v => [sx0(v[0]), sy0(v[1])])))
            .attr('stroke', d => d.color)
            .attr('fill', 'none')
            .attr('opacity', 1);
        if(r['threshold'].length != 0) threshold0 = r['threshold'][0]['value'];
        g0.selectAll('path.b').remove();
        g0.selectAll('path.b')
            .data(r['threshold']).enter().append('path')
            .classed('b', true)
            .attr('d', d => line0(d.path.map(v => [sx0(v[0]), sy0(v[1])])))
            .attr('stroke', d => d.color)
            .attr('fill', 'none')
            .style("stroke-dasharray", "3, 3")
            .attr('opacity', 1.0);
        g0.selectAll('rect[class*=overlay]').remove();
g0.selectAll('rect[class*=handle]').remove();
g0.call(brush0.extent(extent0));
    });
});
trigger0.dispatch('click');
highlighter0.on('click', e => {
    d3.json('/highlighter/0').then(r => {
        g0.selectAll('path.a')
    .attr('stroke', d => {
        if(r.indexOf(d.idx) == -1) return d.color;
        else return '#5194AD';
    })
    .attr('stroke-width', d => {
        if(r.indexOf(d.idx) == -1) return 1;
        else return 1.5;
    })
    .attr('opacity', d => {
        if(r.indexOf(d.idx) == -1) return 0.6;
        else return 1.0;
    });
    
    });
});
const rx1 = 100, ry1 = 430, rw1 = 1250, rh1 = 300;
const g1 = svg.append('g').attr('transform', `translate(${rx1}, ${ry1})`).attr('idx', 1);
const trigger1 = d1.append('button').classed('trigger', true);
const highlighter1 = d1.append('button').classed('trigger', true);
triggers.push(trigger1);
highlighters.push(highlighter1);
let extent1 = [[0, 0], [rw1, rh1]];
const brush1 = d3.brush().on("start", () => {
        if(brushG != g1){
            if(typeof(brushG) != "undefined") d3.brush().clear(brushG);
            brushG = g1;
        }
    })
    .on("end", e => {
        if(e.selection){
            const [[x0, y0], [x1, y1]] = e.selection;
            //...
        }
        else{
            r = empty_r;
        }
    });
    
trigger1.on('click', () => {
    d3.json('/trigger/1').then(r => {
        g1.selectAll('rect.a').remove();
        g1.selectAll('rect.a')
            .data(r).enter().append('rect')
            .classed('a', 'true')
            .attr('x', d => d.x).attr('y', d => d.y).attr('opacity', d => d.opacity)
            .attr('width', d => d.width).attr('height', d => d.height)
            .attr('fill', d => {
                if(typeof(d.color) != 'undefined') return d.color;
                else return 'aqua';
            })
            .on('click', e => {
                d3.json(`/click/1?value=${d3.select(e.srcElement).datum().idx}`).then(r => {
                    for(let i of r[0]) triggers[i].dispatch('click');
                    for(let i of r[1]) highlighters[i].dispatch('click');
                });
            });
        if(r.length != 0 && typeof(r[0].label) != 'undefined'){
            g1.selectAll('text').remove();
            g1.selectAll('text')
                .data(r)
                .enter()
                .append('text')
                .attr('fill', 'black')
                .attr('x', d => d.x + d.width / 2)
                .attr('y', d => d.y + d.height / 2)
                .attr('dy', '.35em')
                .attr('text-anchor', 'middle')
                .attr('font-size', d => d.width * 0.6)
                .text(d => d.label)
                .on('click', e => {
                    d3.json(`/click/1?value=${d3.select(e.srcElement).datum().idx}`).then(r => {
                        for(let i of r[0]) triggers[i].dispatch('click');
                        for(let i of r[1]) highlighters[i].dispatch('click');
                    });
                });
        }
    });
});
trigger1.dispatch('click');
highlighter1.on('click', e => {
    d3.json('/highlighter/1').then(r => {
        g1.selectAll('rect.a')
    .attr('fill', d => {
        if(r.indexOf(d.idx) == -1) return '#EA6039';
        else return d.color;
    });
    
    });
});
        
const rx2 = 100, ry2 = 460, rw2 = 1250, rh2 = 300;
const g2 = svg.append('g').attr('transform', `translate(${rx2}, ${ry2})`).attr('idx', 2);
const trigger2 = d1.append('button').classed('trigger', true);
const highlighter2 = d1.append('button').classed('trigger', true);
triggers.push(trigger2);
highlighters.push(highlighter2);
let extent2 = [[0, 0], [rw2, rh2]];
const brush2 = d3.brush().on("start", () => {
        if(brushG != g2){
            if(typeof(brushG) != "undefined") d3.brush().clear(brushG);
            brushG = g2;
        }
    })
    .on("end", e => {
        if(e.selection){
            const [[x0, y0], [x1, y1]] = e.selection;
            //...
        }
        else{
            r = empty_r;
        }
    });
    
trigger2.on('click', e => {
    d3.json('/trigger/2').then(r => {
        g2.selectAll('text').remove();
        g2.selectAll('text')
            .data(r).enter().append('text')
            .attr('fill', 'black')
            .attr('x', d => d.x + d.width / 2)
            .attr('y', d => d.y + d.height / 2)
            .attr('dy', '.35em')
            .attr('text-anchor', 'middle')
            .attr('font-size', d => d.font_size)
            .text(d => d.text)
            .on('click', e => {
            d3.json(`/click/2?value=${d3.select(e.srcElement).datum().idx}`).then(r => {
                    for(let i of r[0]) triggers[i].dispatch('click');
                    for(let i of r[1]) highlighters[i].dispatch('click');
                });
            });
    });
});
        
const rx3 = 720, ry3 = 460, rw3 = 1250, rh3 = 300;
const g3 = svg.append('g').attr('transform', `translate(${rx3}, ${ry3})`).attr('idx', 3);
const trigger3 = d1.append('button').classed('trigger', true);
const highlighter3 = d1.append('button').classed('trigger', true);
triggers.push(trigger3);
highlighters.push(highlighter3);
let extent3 = [[0, 0], [rw3, rh3]];
const brush3 = d3.brush().on("start", () => {
        if(brushG != g3){
            if(typeof(brushG) != "undefined") d3.brush().clear(brushG);
            brushG = g3;
        }
    })
    .on("end", e => {
        if(e.selection){
            const [[x0, y0], [x1, y1]] = e.selection;
            //...
        }
        else{
            r = empty_r;
        }
    });
    
g3.append('text')
    .classed('title_', true)
    .attr('fill', 'black')
    .attr('x', -18)
    .attr('y', -10)
    //.attr('text-anchor', 'middle')
    .attr('font-size', '12')
    .text('match_count');
                     
trigger3.on('click', () => {
    d3.json('/trigger/3').then(r => {
        g3.selectAll('rect.a').remove();
        g3.selectAll('rect.a')
            .data(r).enter().append('rect')
            .classed('a', 'true')
            .attr('x', d => d.x).attr('y', d => d.y).attr('opacity', d => d.opacity)
            .attr('width', d => d.width).attr('height', d => d.height)
            .attr('fill', d => {
                if(typeof(d.color) != 'undefined') return d.color;
                else return 'aqua';
            })
            .on('click', e => {
                d3.json(`/click/3?value=${d3.select(e.srcElement).datum().idx}`).then(r => {
                    for(let i of r[0]) triggers[i].dispatch('click');
                    for(let i of r[1]) highlighters[i].dispatch('click');
                });
            });
        if(r.length != 0 && typeof(r[0].label) != 'undefined'){
            g3.selectAll('text').remove();
            g3.selectAll('text')
                .data(r)
                .enter()
                .append('text')
                .attr('fill', 'black')
                .attr('x', d => d.x + d.width / 2)
                .attr('y', d => d.y + d.height / 2)
                .attr('dy', '.35em')
                .attr('text-anchor', 'middle')
                .attr('font-size', d => d.width * 0.6)
                .text(d => d.label)
                .on('click', e => {
                    d3.json(`/click/3?value=${d3.select(e.srcElement).datum().idx}`).then(r => {
                        for(let i of r[0]) triggers[i].dispatch('click');
                        for(let i of r[1]) highlighters[i].dispatch('click');
                    });
                });
        }
    });
});
trigger3.dispatch('click');
highlighter3.on('click', e => {
    d3.json('/highlighter/3').then(r => {
        g3.selectAll('rect.a');
    });
});
        
const rx4 = 1040, ry4 = 460, rw4 = 1250, rh4 = 300;
const g4 = svg.append('g').attr('transform', `translate(${rx4}, ${ry4})`).attr('idx', 4);
const trigger4 = d1.append('button').classed('trigger', true);
const highlighter4 = d1.append('button').classed('trigger', true);
triggers.push(trigger4);
highlighters.push(highlighter4);
let extent4 = [[0, 0], [rw4, rh4]];
const brush4 = d3.brush().on("start", () => {
        if(brushG != g4){
            if(typeof(brushG) != "undefined") d3.brush().clear(brushG);
            brushG = g4;
        }
    })
    .on("end", e => {
        if(e.selection){
            const [[x0, y0], [x1, y1]] = e.selection;
            //...
        }
        else{
            r = empty_r;
        }
    });
    
g4.append('text')
    .classed('title_', true)
    .attr('fill', 'black')
    .attr('x', -18)
    .attr('y', -10)
    //.attr('text-anchor', 'middle')
    .attr('font-size', '12')
    .text('part_of_speech');
                     
trigger4.on('click', () => {
    d3.json('/trigger/4').then(r => {
        g4.selectAll('rect.a').remove();
        g4.selectAll('rect.a')
            .data(r).enter().append('rect')
            .classed('a', 'true')
            .attr('x', d => d.x).attr('y', d => d.y).attr('opacity', d => d.opacity)
            .attr('width', d => d.width).attr('height', d => d.height)
            .attr('fill', d => {
                if(typeof(d.color) != 'undefined') return d.color;
                else return 'aqua';
            })
            .on('click', e => {
                d3.json(`/click/4?value=${d3.select(e.srcElement).datum().idx}`).then(r => {
                    for(let i of r[0]) triggers[i].dispatch('click');
                    for(let i of r[1]) highlighters[i].dispatch('click');
                });
            });
        if(r.length != 0 && typeof(r[0].label) != 'undefined'){
            g4.selectAll('text').remove();
            g4.selectAll('text')
                .data(r)
                .enter()
                .append('text')
                .attr('fill', 'black')
                .attr('x', d => d.x + d.width / 2)
                .attr('y', d => d.y + d.height / 2)
                .attr('dy', '.35em')
                .attr('text-anchor', 'middle')
                .attr('font-size', d => d.width * 0.6)
                .text(d => d.label)
                .on('click', e => {
                    d3.json(`/click/4?value=${d3.select(e.srcElement).datum().idx}`).then(r => {
                        for(let i of r[0]) triggers[i].dispatch('click');
                        for(let i of r[1]) highlighters[i].dispatch('click');
                    });
                });
        }
    });
});
trigger4.dispatch('click');
highlighter4.on('click', e => {
    d3.json('/highlighter/4').then(r => {
        g4.selectAll('rect.a');
    });
});
        
const w0 = d2.append('div').classed('div4', true).style('position', 'absolute');
w0.style('width', '20px')
    .style('height', '10px')
    .style('left', '160px')
    .style('top', '50px');
const p0 = w0.append('p')
    .text('threshold')
    .style('position', 'absolute')
    .style('height', '20px')
    .style('top', '-15px');
p0.style('left', `-${p0.node().getBoundingClientRect().width+10+('threshold'.length>10?24:0) + ('threshold'.length>15?42:0)}px`); 
        
w0.append('input')
    .attr('type', 'text')
    .attr('value', '')
    .attr('id', 'w0')
    .style('width', '100%')
    .style('height', '100%')
    .on('change', e => {
        const value = document.getElementById('w0').value;
        d3.json(`/widget/0?value=${value}`).then(r => {
            for(let i of r) triggers[i].dispatch('click');
        });
    }); 
d2.selectAll('input#w0').attr('value', '0').dispatch('change');
        
        //mode.click();
        empty_r={};
        filter2.selectedIndex = 0;
        filter2_.dispatch('change');
</script>